/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/

/*-----------------------------------------------
## 1
-----------------------------------------------*/
.palette-primary .call-to-action .button-primary,
.palette-primary .site-description {
	background: rgba($palette-primary_1, 0.9);
	color: $text-contrast-palette-primary_1;
}
.palette-primary .button-primary,
.palette-primary input[type="submit"],
.palette-primary a.comment-reply-link,
.palette-primary .navbar-default .navbar-nav > .open > a, 
.palette-primary .navbar-default .navbar-nav > .open > a:hover, 
.palette-primary .navbar-default .navbar-nav > .open > a:focus,
.palette-primary .navbar-default .navbar-nav > .current-menu-parent > a,
.palette-primary .navbar-default .navbar-toggle:hover,
.palette-primary .navbar-default .navbar-toggle:focus,
.palette-primary .navbar-default .navbar-nav > li > a:hover,
.palette-primary .navbar-default .navbar-nav > li > a:focus,
.palette-primary .navbar-default .navbar-nav > .active > a,
.palette-primary .navbar-default .navbar-nav > .active > a:hover,
.palette-primary .navbar-default .navbar-nav > .active > a:focus,
.palette-primary .navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a, 
.palette-primary .navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a:hover, 
.palette-primary .navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a:focus,
.palette-primary .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover,
.palette-primary .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:focus,
.palette-primary .form-submit .submit,
.palette-primary .table-striped > tbody > tr:nth-child(2n+1) {
	background: $palette-primary_1;
	color: $text-contrast-palette-primary_1;
}

.palette-primary .navbar-default .navbar-toggle:hover .icon-bar,
.palette-primary .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: $text-contrast-palette-primary_1;
}

.palette-primary a,
.palette-primary #primary-navbar li.menu-social a, 
.palette-primary li.menu-social a,
.palette-primary .menu-social li a,
.palette-primary .well a,
.palette-primary .site-info .well a,
.palette-primary .widget-area a,
.palette-primary .entry-meta a,
.palette-primary .entry-footer a,
.palette-primary .nav-links a,

.palette-primary .menu-social .current_page_item a {
	color: $palette-primary_1;
}
.palette-primary .navbar,
.palette-primary .site-footer {
	border-top: 2px solid $palette-primary_1;
}


/*-----------------------------------------------
## 2
-----------------------------------------------*/
.palette-primary .site-title a,
.palette-primary .secondary-menu,
.palette-primary .tertiary-menu,
.palette-primary #slogan {
	background: rgba($palette-primary_2, 0.9);
	color: $text-contrast-palette-primary_2;
}
.palette-primary .mod-gamma-2,
.palette-primary .button-primary:hover,
.palette-primary .button-primary:focus,
.palette-primary .button-secondary:hover,
.palette-primary .button-secondary:focus,
.palette-primary input[type="submit"]:hover,
.palette-primary input[type="submit"]:focus,
.palette-primary .form-submit .submit:hover,
.palette-primary .form-submit .submit:focus {
	background: $palette-primary_2;
	color: $text-contrast-palette-primary_2;
}
.palette-primary a:hover,
.palette-primary a:focus,
.palette-primary #primary-navbar li.menu-social a[href]:hover,
.palette-primary #primary-navbar li.menu-social a[href]:focus,
.palette-primary li.menu-social a[href]:hover,
.palette-primary li.menu-social a[href]:focus,
.palette-primary .menu-social .current_page_item a[href],
.palette-primary .menu-social li a:hover,
.palette-primary .menu-social li a:focus,
.palette-primary .mod-icon-box span {
	color: $palette-primary_2;
}
.palette-primary .secondary-menu a,
.palette-primary .secondary-menu a:hover,
.palette-primary .secondary-menu a:focus,
.palette-primary .tertiary-menu a,
.palette-primary .tertiary-menu a:hover,
.palette-primary .tertiary-menu a:focus {
	color: $text-contrast-palette-primary_2;
}
.palette-primary .mod-beta {
    border-top: 7px solid $palette-primary_2;
    border-bottom: 5px solid $palette-primary_2;
}
.palette-primary .site-title a:hover,
.palette-primary .site-title a:focus {
	color: $text-contrast-palette-primary_2;
}

.palette-primary .entry-title:before {
	border-top: 1px solid $palette-primary_2;
}

/*-----------------------------------------------
## 3
-----------------------------------------------*/
.palette-primary .button-secondary,
.palette-primary .mod-divider a {
    background: $palette-primary_3;
    color: $text-contrast-palette-primary_3;
}
.palette-primary h2,
.palette-primary .mod-blockquote p,
.palette-primary .phone p,
.palette-primary .widget-title,
.palette-primary .entry-title,
.palette-primary #reply-title {
	color: $palette-primary_3;	
}

/*-----------------------------------------------
## 4
-----------------------------------------------*/
.palette-primary .navbar,
.palette-primary .site-footer {
	background: $palette-primary_4;
}
.palette-primary .navbar-default .navbar-nav > li > a,
.palette-primary .site-info, 
.palette-primary .site-info a, 
.palette-primary .attribution, 
.palette-primary .attribution a,
.palette-primary .footer-center-menu a,
.palette-primary .footer-center-items li::after,
.palette-primary .boldgrid-framework-menu li::after {
	color: $text-contrast-palette-primary_4;
}

.palette-primary .navbar-default .navbar-toggle .icon-bar {
	background-color: $text-contrast-palette-primary_4;
}

/*-----------------------------------------------
## 5
-----------------------------------------------*/
.palette-primary .mod-alpha,
.palette-primary .mod-beta {
	background: $palette-primary_5;
	color: $text-contrast-palette-primary_5;
}
.palette-primary .mod-alpha p {
	color: $text-contrast-palette-primary_5;
}
.palette-primary .mod-blockquote {
    border-left: 5px solid $palette-primary_5;
}

/*-----------------------------------------------
## Neutral
-----------------------------------------------*/
.palette-primary,
.palette-primary .social,
.palette-primary .background-primary,
.palette-primary #boldgrid-sticky-push,
.palette-primary #boldgrid-sticky-filler,
.palette-primary.mce-content-body {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;
}
.palette-primary .site-content h3,
.palette-primary caption {
	color: $text-contrast-palette-primary-neutral-color;
}
.palette-primary.disabled-footer .entry-footer,
.palette-primary.disabled-footer .site-footer {
    background-color: $palette-primary-neutral-color;
    border-top: none;
}
.palette-primary.disabled-footer .site-footer a {
	color: $text-contrast-palette-primary-neutral-color;
}
.palette-primary .entry-title span {
	background: $palette-primary-neutral-color;
	color: $palette-primary_1;
}

/*-----------------------------------------------
## 1 - Description, Alpha Buttons, Navbar Hover
-----------------------------------------------*/
.palette-primary #masthead .site-description {
	color: $text-contrast-palette-primary_1;
}
.palette-primary .mod-alpha .button-secondary,
.palette-primary .navbar-default .navbar-nav > li > a:hover,
.palette-primary .navbar-default .navbar-nav > li > a:focus,
.palette-primary .navbar-default .navbar-nav > .active > a,
.palette-primary .navbar-default .navbar-nav > .active > a:hover,
.palette-primary .navbar-default .navbar-nav > .active > a:focus  {
	background: $palette-primary_1;
	color: $text-contrast-palette-primary_1;
}
.palette-primary .current_page_item a {
    color: $palette-primary_1;
}

.navbar-default .navbar-nav > .current-menu-parent > a {
	background: $palette-primary_1;
}
.dropdown .active {
	background: $palette-primary_1;
	color: $text-contrast-palette-primary_1;
}

/* sm */
@media (min-width: 768px) {
	.palette-primary .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	ul.nav li.dropdown:hover {
		background-color: $palette-primary_1;
	}
}

/*-----------------------------------------------
## 2 - Alpha Button Hover
-----------------------------------------------*/
.palette-primary .mod-alpha .button-secondary:hover,
.palette-primary .mod-alpha .button-secondary:focus {
	background: $palette-primary_2;
	color: $text-contrast-palette-primary_2;
}

/*-----------------------------------------------
## Static colors
-----------------------------------------------*/
.palette-primary .well .widget-title {
    color: #8c8c8c;
}
